.mainContainer {
  width: 100%;
  height: 3.5rem;
  background-color: #fdf100;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-size: 1rem;
}

.mainContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #343434;
  z-index: -1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.leftItemContainer,
.rightItemContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  gap: 4rem;
}

.rightItemContainer {
  right: 22%;
}

.leftItemContainer {
  left: 22%;
}

.leftItemContainer ul,
li,
a,
.rightItemContainer ul,
li,
a {
  display: flex;
  position: relative;
  text-decoration: none;
  padding-left: 0;
  list-style: none;
  gap: 4rem;
  color: #343434;
}

.leftItemContainer ul,
li,
a {
  gap: 6.06rem;
}

.leftItemContainer a::after,
.rightItemContainer a::after {
  content: "";
  position: absolute;
  bottom: -50%;
  width: 100%;
  height: 0px;
  background: #343434;
  transition: height 0.2s;
}

.leftItemContainer a:hover::after,
.rightItemContainer li > a:hover::after {
  height: 8px;
}

.socialContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}

.logoWrapper {
  /* X-axis, Y-axis, blur radius */
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.404));
}

.logoWrapper img {
  width: 5rem;
  height: auto;
  clip-path: circle(50% at 50% 50%);
}

.buttonContainer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.icon {
  width: auto;
  height: 1.2rem;
  cursor: pointer;
  transition-duration: 0.3s;
}

.icon:hover {
  color: #585858;
}

.button {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #343434;
  color: #fff;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #585858;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 900px) {
  .leftItemContainer ul,
  li,
  a {
    font-size: 0.9rem;
  }

  .button {
    padding: 0.6rem 0.8rem;
    font-size: 0.9rem;
  }

  .logoWrapper img {
    width: 4rem;
  }

  .icon {
    height: 1rem;
  }
}

/* Small devices (portrait tablets and large phones */
@media screen and (max-width: 768px) {
}
