.mainContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.rightColumn,
.leftColumn {
  margin-top: 2rem;
}

.filterContainer {
  background-color: #f8f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position: sticky;
  top: 10%;

  h3 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: #343434;
  }
}

.filterCheckboxContainer {
  margin-top: 1rem;
}

.filterCheckbox {
  margin-bottom: 0.5rem;

  label {
    font-weight: 400;
    margin-left: 0.3rem;
    cursor: pointer;
  }

  input {
    cursor: pointer;
  }
}

.productHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  h1 {
    margin: 0;
    font-weight: 600;
    color: #343434;
  }

  span {
    font-weight: 400;
    opacity: 0.5;
  }
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.productCard {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #eeeeee;
  transition-duration: 0.2s;
}

.productCard:hover {
  -webkit-box-shadow: 0 10px 10px -4px rgba(0, 0, 0, 0.137);
  -moz-box-shadow: 0 10px 10px -4px rgba(0, 0, 0, 0.137);
  box-shadow: 0 10px 10px -4px rgba(0, 0, 0, 0.137);
}

.productImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.productDetail {
  background-color: #f8f9f9;
  padding: 1rem;
  color: #343434;
  margin-top: -7px;

  span {
    font-weight: 400;
    font-size: small;
    background-color: #fcf001;
    padding: 0.2rem 0.5rem;
    border-radius: 50px;
  }

  h3 {
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: large;
  }

  p {
    margin: ;
  }
}
